{background-image: url("http://wallmeta.com/wp-content/uploads/2015/02/Hawaii-Awesome-Wallpaper-Gallery-Desktop.jpg");
     }
        Table  {
            border-style:solid;
            border-width:4px;
            border-color:black;
            text-align:center;
          }
          {
            border-style:solid;
            border-color:blue;
            border-width:2px;
          }
    .breakcolor {
           background-color:green;
           border-color:green;
    }
    .math110 {
           background-color:red;
           border-color:red;
    }
    .mgt365{
           background-color:blue;
           border-color:blue;
    }
    .cs130{
           background-color:orange;
           border-color:orange;
    }
    .pe101{
           background-color:purple;
           border-color:purple;
    }
    .homework{
           background-color:aqua;
           border-color:aqua;
    }
    .food{
          background-color:#FF1493;
          border-color:#FF1493;
    }
    .nap{
          background-color:#7B68EE;
          border-color:#7B68EE;
    }
   .shower{
          background-color:white;
          border-color:white;
    }
    .practice{
         background-color:#20B2AA;
         border-color:#20B2AA;
    }
